$primary-color: #111;
$secondary-color: #2c2c2c;
$tertiary-color: #1c1c1c;
$background-color: #333;
$loading-background-color: #000;
$loading-background-color-transparent: rgba(75, 75, 75, 0.5);
$text-color: #fff;
$link-color: #fff;
$link-visited-color: #fff;
$font-stack: 'Fira Sans', sans-serif;

html {
    background-color: $background-color;
    font-family: $font-stack;
    color: $text-color;
}

a {
    color: $link-color;
}

a:visited {
    color: $link-visited-color;
}
